*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

.body{
    font-size: 3.2vw;
}

.nav{
    display: flex;
    padding: .5em;
    border: 2px solid;
    gap: 2px;
    flex-wrap: wrap;
    justify-content:space-around;
}

.search{
    border: 1px solid gray;
    align-items: flex-end;
}

.text{
    margin: .5em;
    padding: .5em;
    word-wrap: break-word;
    border: 2px solid;
    text-align: justify;
}

.text-1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    font-family: 'Courier New', Courier, monospace;
    color: green; 
}

.text-1 aside{
    flex: 1;
    color: red;
    background-color: beige;
    border: 2px solid black;
    padding: .5em;
    margin: .5em;
    text-align: right;
    word-wrap: break-word;
    font-weight: bold;
    height: 100px;
    width: 500px;
}

.text-1 aside p{
    font-size: 12px;
}

.text-2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aqua;
}

.text-3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: bisque;
}

.text-3 aside{
    color: green;
    background-color: aquamarine;
    border: 2px solid gray;
    padding: .5em;
    margin: .5em;
    word-wrap: break-word;
    font-weight: bold;
    text-align: left;
    width: 500px;
    height: 100px;
    float: left;
}

.text-3 aside p{
    font-size: 9px;
}

.text-4{
    font-family: fantasy;
}

.text-5{
    font-family: cursive;
}
